body{
    background-color: purple;
    color: #fff;
    font-weight: bold;
    font-size: large;
}

/* naji */
section{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Branch a  Sttyling Nav */
nav,h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}